
body {
    background: rgb(111, 115, 111);
    background: linear-gradient(90deg, rgba(111, 115, 111, 1) 8%, rgba(185, 190, 185, 1) 51%);
}


footer {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    text-align: center; /* Center align text */
}


.styled-text-footer {
    font-family: Italic; /* Choose any font you like */
    color: #333; /* Text color */
    background-color: #fff; /* Background color of the text frame */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow effect */
    border: 1px solid #ddd; /* Border around the text */
    padding: 10px 20px; /* Padding inside the frame */
    margin: 10px auto; /* Centers the text frame with some space around */
    display: inline-block; /* Makes the background only as wide as the text */
    border-radius: 25px; /* Makes the frame round */
    text-align: center; /* Ensures text is centered */
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 9999;
}
