{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<head>
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <header class="page-header">
        <nav class="navbar navbar-expand-lg justify-content-between">
            <a class="navbar-brand" href="{% url 'index' %}">Home</a>
            <a class="navbar-brand" href="{% url 'recipes' %}">Recipes</a>
            <a class="navbar-brand" href="{% url 'categories' %}">Categories</a>
            <a class="navbar-brand" href="{% url 'occasions' %}">Occasions</a>
            <a class="navbar-brand" href="{% url 'login' %}">Login</a>
            <a class="navbar-brand" href="{% url 'register' %}">Register</a>

        <!-- Kod nagłówka strony -->
    </header>

    <nav>
        <!-- Kod nawigacji strony -->
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        Created by: Adam Chrzanowski
    </footer>
</body>
</html>