{% extends '__base__.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Recipe details{% endblock title %}

{% block content %}
    <div class="container mt-4">
    <h1 class="mb-4">{{ recipe.name }}</h1>

    {#    {% if main_image %}#}
    {#        <div class="card mb-4" style="background: url('{{ main_image.image_file.url }}') center/cover no-repeat;">#}
    {#            <div class="card-body" style="background-color: rgba(255, 255, 255, 0.5);">#}
    {#                <!-- Adjust the rgba values for the desired transparency -->#}
    {#                <h5 class="card-title">Main Image</h5>#}
    {#                <p class="card-text">{{ main_image.description }}</p>#}
    {#            </div>#}
    {#        </div>#}
    {#    {% endif %}#}



    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{ recipe.description }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Instructions</h5>
            <p class="card-text">{{ recipe.instructions }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Ingredients</h5>
            <ul class="list-group list-group-flush">
                {% for ingredient in recipe.ingredients.all %}
                    <li class="list-group-item">{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
            <h5>Category</h5>
            <p>
                {% for category in recipe.categories.all %}
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <div class="col-md-4">
            <h5>Occasion</h5>
            <p>
                {% for occasion in recipe.occasions.all %}
                    {{ occasion.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <div class="col-md-4">
            <h5>Cuisine</h5>
            <p>
                {% for cuisine in recipe.cuisines.all %}
                    {{ cuisine.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>

    <div>
        <h3 class="mt-4 mb-3">Images</h3>
        <div class="row">
            {% for image in recipe.recipe_images.all %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <p>Image type: {{ image.type }}</p>
                            <p> Image name: {{ image.name|title }}</p>
                        </div>
                        <img src="{{ image.image_file.url }}" class="card-img-top" alt="{{ image.alt_description }}">
                        <div class="card-body">
                            <p class="card-text">
                                Description:
                                <br>
                                {{ image.description }}
                            </p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <p>No images uploaded for this recipe yet.</p>
                </div>
            {% endfor %}
        </div>


        <div class="mb-4">
            <a href="{% url 'recipe-edit' recipe.id %}" class="btn btn-primary me-2">Edit Recipe</a>
            <a href="{% url 'recipes' %}" class="btn btn-secondary me-2">Back to all Recipes</a>
            <a href="{% url 'recipe-delete' recipe.id %}" class="btn btn-danger me-2">Delete Recipe</a>
        </div>
        <a href="javascript:history.back();" class="btn btn-secondary">Go Back</a>

    </div>
{% endblock content %}
