{% extends '__base__.html' %}
{% load static %}

{% block title %}
    Edit recipe
{% endblock title %}

{% block content %}
    <div class="container">
    <h1 class="my-4">Edit Recipe</h1>
    <form method="post" id="recipe-form" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="col-md-2 mb-3">
            {{ form.category.label_tag }}
            <select name="category" id="id_category" class="form-control">
                {% for category in form.category.field.queryset %}
                    <option value="{{ category.pk }}"
                            {% if form.instance.category == category %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            {{ form.occasion.label_tag }}
            <select name="occasion" id="id_occasion" class="form-control">
                {% for occasion in form.occasion.field.queryset %}
                    <option value="{{ occasion.pk }}"
                            {% if form.instance.occasion == occasion %}selected{% endif %}>
                        {{ occasion.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            {{ form.cuisine.label_tag }}
            <select name="cuisine" id="id_cuisine" class="form-control">
                {% for cuisine in form.cuisine.field.queryset %}
                    <option value="{{ cuisine.pk }}"
                            {% if form.instance.cuisine == cuisine %}selected{% endif %}>
                        {{ cuisine.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form.instructions.label_tag }}
            {{ form.instructions }}
        </div>
    </div>

    <!-- Ingredients section -->
    <div id="form-set">
        {{ formset.management_form }}
        {% for ingredient_form in formset %}
            <div class="row mb-2 ingredient-form">
                {{ ingredient_form.id.as_hidden }}
                <div class="col-md-2">
                    {{ ingredient_form.ingredients.label_tag }}
                    {{ ingredient_form.ingredients }}
                </div>
                <div class="col-md-1">
                    {{ ingredient_form.quantity.label_tag }}
                    {{ ingredient_form.quantity }}
                </div>
                <div class="col-md-1">
                    {{ ingredient_form.measure.label_tag }}
                    {{ ingredient_form.measure }}
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="button" class="remove-ingredient btn btn-danger">Remove</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
            <div>
                <button type="button" id="add-more" class="btn btn-primary">Add More Ingredients</button>
            </div>
            <div>
                <a class="btn btn-primary" href="{% url 'ingredient-add' %}">Add new ingredient to database</a>
            </div>
        </div>
    </div>


    <template id="ingredient-form-template">
        <div class="row mb-2 ingredient-form">
            <div class="col-md-3">
                <label for="id_form-__prefix__-ingredient">Ingredient</label>
                <select id="id_form-__prefix__-ingredient" name="form-__prefix__-ingredient"
                        class="form-control">
                </select>
            </div>
            <div class="col-md-2">
                <label for="id_form-__prefix__-quantity">Quantity</label>
                <input type="number" id="id_form-__prefix__-quantity" name="form-__prefix__-quantity"
                       class="form-control">
            </div>
            <div class="col-md-3">
                <label for="id_form-__prefix__-measure">Measure</label>
                <select id="id_form-__prefix__-measure" name="form-__prefix__-measure" class="form-control">
                </select>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-danger remove-ingredient-btn">Remove</button>
            </div>
        </div>
    </template>

    <div>
        <h3 class="mt-4 mb-3">Images</h3>
        <div class="row">
            {% for image in recipe.recipe_images.all %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            Image type: {{ image.type }}
                            <br>
                            Image name: {{ image.name|title }}
                        </div>
                        <img src="{{ image.image_file.url }}" class="card-img-top" alt="{{ image.alt_description }}">
                        <div class="card-body">
                            <p class="card-text">Description:
                                <br>
                                {{ image.description }}</p>
                        </div>
                        {% if request.user == image.user or request.user.is_staff %}
                            <a href="{% url 'image_handler:recipe-image-delete' recipe.id image.id %}"
                               class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <p>No images uploaded for this recipe yet.</p>
                </div>


                </div>


            {% endfor %}
        <a href="{% url 'image_handler:recipe-image-upload' recipe_id=recipe.id %}" class="btn btn-success">Upload
            Image</a>

    </div>

    <div class="col-md-12 d-flex justify-content-between">
        <div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="javascript:history.back();" class="btn btn-secondary">Go Back</a>
        </div>
    </div>

{% endblock content %}


{% block javascript %}

    <script src="{% static 'js/edit_ingredients.js' %}"></script>

{% endblock javascript %}
</div>