<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Details</title>
</head>
<body>
    <h1>{{ recipe.name }}</h1>
    <p>Description:<br>
        {{ recipe.description }}
    </p>

    <p>Instructions:<br>
        {{ recipe.description }}
    </p>
    <p>Ingredients:<br>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>{{ ingredient }}</li>
            {% endfor %}
    </ul>

    </p>



    <button><a href="{% url 'recipes' %}">Back to Recipes</a></button>
</body>
</html>