{% extends '__base__.html' %}

{% block content %}
    <a href="{% url 'index' %}">Back to Main Page</a>
    <h1>Add Recipe</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="ingredients-container" data-formset-count="{{ formset.total_form_count }}">
            {{ formset.management_form }}
            {% for ingredient_form in formset %}
                <div class="ingredient-form">
                    {{ ingredient_form.as_p }}
                </div>
            {% endfor %}
        </div>
        <div id="empty-form" style="display:none;">
            {{ formset.empty_form.as_p }}
        </div>
        <button type="button" id="add-ingredient-btn">Add Ingredient</button>
        <button type="submit">Add Recipe</button>
    </form>
{% endblock %}


