{% extends '__base__.html' %}
{% load static %}

{% block title %}
    Recipes by category
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="card-title">Categories</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for category in categories %}
                            <li class="list-group-item">
                                <a href="{% url 'recipes-by-category' category.id %}" class="btn btn-outline-success">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <a href="javascript:history.back();" class="btn btn-secondary">Go Back</a>
            </div>
        </div>
    </div>
{% endblock %}
