{% extends '__base__.html' %}
{% block title %}Recipes{% endblock title %}

{% block content %}
    <div class="page-container" style="background-color: #c2c7c3;">

        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem; height: 200px; position: relative;">
                        {% if recipe.main_image_url %}
                            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('{{ recipe.main_image_url }}') center/cover no-repeat; opacity: 0.5; z-index: 1;"></div>
                        {% endif %}
                        <div class="card-body" style="position: relative; z-index: 2;">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                            <p class="card-text">{{ recipe.description }}</p>
                            <br>
                            <br>
                            <br>
                            <a href="{% url 'recipe-details' recipe.id %}">Go to details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
