{% extends '__base__.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Add Recipe</h1>
        <form method="post" id="recipe-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.name.label_tag }} {{ form.name }}
                </div>
                <div class="col-md-6">
                    {{ form.category.label_tag }} {{ form.category }}
                    {{ form.occasion.label_tag }} {{ form.occasion }}
                    {{ form.cuisine.label_tag }} {{ form.cuisine }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.description.label_tag }} {{ form.description }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.instructions.label_tag }} {{ form.instructions }}
                </div>
            </div>

            <div class="col-md-12" id="ingredients-container">
                {{ formset.management_form }}
                <div id="form-set">
                    {% for ingredient_form in formset %}
                        <div class="ingredient-form row m-2">
                            <div class="col">{{ ingredient_form.ingredients.label_tag }} {{ ingredient_form.ingredients }}</div>
                            <div class="col">{{ ingredient_form.quantity.label_tag }} {{ ingredient_form.quantity }}</div>
                            <div class="col">{{ ingredient_form.measure.label_tag }} {{ ingredient_form.measure }}</div>
                        </div>
                    {% endfor %}
                </div>

                <div id="added-ingredients-list">
                </div>
                <button type="button" id="add-ingredient-btn">Add Ingredient</button>
            </div>

            <button type="submit">Add Recipe</button>
        </form>
    </div>
    <script src="{% static 'js/add_ingredient.js' %}"></script>
{% endblock content %}
