{% extends '__base__.html' %}
{% block title %}Recipes{% endblock title %}

{% block content %}
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4 mb-4">
                <div class="card"
                     style="width: 18rem; height: 200px; {% if recipe.main_image_url %}background: url('{{ recipe.main_image_url }}') center/cover no-repeat;{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text">{{ recipe.description }}</p>
                        <a href="{% url 'recipe-details' recipe.id %}" class="btn btn-primary">Go to details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
