{% extends '__base__.html' %}
{% load static %}

{% block title %}Eat git and fit - Home{% endblock title %}
{% block head %}
    <style>
        body {
            background-image: url("{% static 'images/fornavbar.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }
        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            z-index: -1;
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="text-center mb-5">
        <h1 class="text-decoration-underline fst-italic fw-bold">Welcome to Eat Git and Fit Page</h1>
        <br>
        <h2 class="fst-italic fw-normal">Discover the Joy of Healthy Eating</h2>
        <p class="lead fw-normal mt-3">Embark on a culinary adventure where health meets taste. Dive into our collection of recipes that follow the 80/20 rule - 80% wholesome goodness, 20% indulgent delights. Find the perfect balance in your diet and enjoy flavors that tantalize your taste buds without compromising on health.</p>
        <p class="mt-3">Whether you're a seasoned chef or a kitchen newbie, our recipes are designed to be easy, nutritious, and delicious. Get ready to transform your meals into a journey of healthy, flavorful experiences.</p>
        <a href="{% url 'recipes' %}" class="btn btn-outline-success">Explore Recipes</a>
    </div>
{% endblock content %}



