
form {
    margin-bottom: 60px; /* Dostosuj wartość w zależności od wysokości footera */
}
body {
    padding-bottom: 60px;
}

/*body {*/
/*    font-family: "Arial", sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-color: #32BD03; !* Kolor tła *!*/
/*    color: white; !* Kolor tekstu *!*/
/*}*/

/*header {*/
/*    background-color: gray;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

/*header h1, header h2 {*/
/*    margin: 0;*/
/*    color: white; !* Kolor napisu nagłówka *!*/
/*}*/

/*main {*/
/*    padding: 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*h1 {*/
/*    font-size: 28px;*/
/*    color: darkgreen;*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
/*}*/

/*h2 {*/
/*    font-size: 16px;*/
/*    color: darkgreen;*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
/*}*/

/*h3 {*/
/*    font-size: 20px;*/
/*    color: greenyellow;*/
/*    margin-top: 20px;*/
/*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
/*}*/

/*section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*a.button {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    margin: 10px;*/
/*}*/

/*.button {*/
/*    background-color: #32BD03;*/
/*    color: white;*/
/*    border: 2px solid white;*/
/*    border-radius: 5px;*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    transition: 0.3s;*/
/*}*/

/*.button-view-recipe {*/
/*    background-color: #32BD03;*/
/*    color: black;*/
/*    border: 2px solid white;*/
/*    border-radius: 5px;*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    transition: 0.3s;*/
/*}*/

/*.link-button {*/
/*    background-color: #32BD03;*/
/*    color: black;*/
/*    border: 2px solid white;*/
/*    border-radius: 5px;*/
/*    text-decoration: none;*/
/*    font-size: 22px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    transition: 0.3s;*/

/*}*/

/*.navbar-brand {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    margin: 10px;*/
/*    background-color: #32BD03; !* Kolor tła *!*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    border: 2px solid #32BD03; !* Grubość i kolor ramki *!*/
/*    border-radius: 4px;*/
/*    font-size: 16px;*/
/*    transition: 0.3s;*/
/*}*/

/*.navbar-brand:hover {*/
/*    background-color: #45a049;*/
/*}*/

/*!* Kolor tła po najechaniu *!*/

/*!*.navigation-button {*!*/
/*!*    display: inline-block;*!*/
/*!*    padding: 10px 20px;*!*/
/*!*    margin: 10px;*!*/
/*!*    background-color: #32BD03; !* Kolor tła *!*!*/
/*!*    color: white;*!*/
/*!*    text-decoration: none;*!*/
/*!*    border: 2px solid #32BD03; !* Grubość i kolor ramki *!*!*/
/*!*    border-radius: 4px;*!*/
/*!*    font-size: 16px;*!*/
/*!*    transition: 0.3s;*!*/
/*!*}*!*/




/*.recipe-container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*}*/

/*.recipe-item {*/
/*    width: 300px; !* Lub inna szerokość, którą chcesz ustawić dla przepisów *!*/
/*    margin: 10px;*/
/*}*/

/*footer {*/
/*    background-color: gray;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*}*/
